.App {
  text-align: center; 
}

body{
  background-color: rgb(132, 202, 164);
}

.completed {
  text-decoration: line-through;
}

.form button {
  padding: 1%;
  background: none;
  border: 1px solid black;
  border-radius: 10px;
  color: black;
}

.form button:hover {
  border: 1px solid white;
  border-radius: 10px;
  color: white;
}

.form li {
  display: flex;
  justify-content: center;
  border: 1px solid red;
}